<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>touch</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var mouseDown = false;
		var socketServer = null;
		
		var fingerOneX = null;
		var fingerOneY = null;
		
		var fingerTwoX = null;
		var fingerTwoY = null;
		function touchHandler(event)
		{
			event.preventDefault();
			
			var touches = event.changedTouches;
			if (touches == null || touches.length == 0)
				return;
			
			if (event.type == "touchend")
			{
				fingerOneX = null;
				return;
			}
				
			if (touches.length == 2) {
				if (fingerOneX != null) {					
					
					if (Math.abs(fingerOneY - touches[0].screenY) < 5 || Math.abs(fingerOneX - touches[0].screenX) < 5)
						return;
					
					//calc diff
					movingIn = false;
					if (fingerOneY < touches[0].screenY && fingerOneX >= touches[0].screenX)
						movingIn = true;
						
					if (fingerTwoY >= touches[1].screenY && fingerTwoX < touches[1].screenX)
						movingIn = true;
					
					if (movingIn)
						socketServer.send("{\"event\": \"pinchin\"}");
					else
						socketServer.send("{\"event\": \"pinchout\"}");
				}
				
				fingerOneX = touches[0].screenX;
				fingerOneY = touches[0].screenY;
				
				fingerTwoX = touches[1].screenX;
				fingerTwoY = touches[1].screenY;
				
				if (event.type == "touchend")
				{
					fingerOneX = null;
				}
				
				
			} else if (fingerOneX == null) {
				
				firstFinger = touches[0];
				type = "";
				switch(event.type)
				{
					case "touchstart" :
						type = "mousedown";
						break;
				
					case "touchmove" :
						type = "mousemove";
						break;
				
					case "touchend" :
						type = "mouseup";
						break;
				
					default :
						return;
				}
			
				var mouseEvent = document.createEvent("MouseEvent");
				mouseEvent.initMouseEvent(type, true, true, window, 1, firstFinger.screenX, firstFinger.screenY, firstFinger.clientX, firstFinger.clientY, false, false, false, false, 0, null);
			
				firstFinger.target.dispatchEvent(mouseEvent);
			}
		}
		
		function mouseHandler(event)
		{
			if (!mouseDown && event.type == "mousemove")
				return;
			event.preventDefault();
			normalEventType = null;
			switch(event.type)
			{
				case "mousedown" :
					mouseDown = true;
					normalEventType = "down";
					break;
				
				case "mouseup" :
					mouseDown = false;
					normalEventType = "up";
					break;
					
				 case "mousemove" :
					normalEventType = "move";
					break;
				
				default:
					break;
			}
			
			if (normalEventType == null)
				return;
			
			pageX = (event.pageX / $(document).width()) * 100;
			pageY = (event.pageY / $(document).height()) * 100;
			/*
			dot = $("<div style=\"position: absolute; top: " + pageY + "%; left: " + pageX + "%; width: 10px; height: 10px; background-color: black\"></div>");
			$("body").append(dot);*/
			socketServer.send("{\"event\": \"" + normalEventType +"\", \"x\": \"" + pageX +"\", \"y\": \"" + pageY +"\"}");
		}
		
		function registerEvents()
		{
			socketServer = new WebSocket("ws://" + window.location.hostname +":8082");
			socketServer.onopen = function(){  
				pin = prompt("Pin please");
				socketServer.send("PIN:" + pin);
			}
			
			document.addEventListener("touchstart", touchHandler, true);
			document.addEventListener("touchmove", touchHandler, true);
			document.addEventListener("touchend", touchHandler, true);
			document.addEventListener("touchcancel", touchHandler, true);
			
			document.addEventListener("mousedown", mouseHandler, true);
			document.addEventListener("mousemove", mouseHandler, true);
			document.addEventListener("mouseup", mouseHandler, true);
			document.addEventListener("mousecancel", mouseHandler, true);
		}
		
		$(document).ready(function() {
			registerEvents();
		});
	</script>
</head>

<body>


</body>
</html>
